    .priv-pol h1 {
        margin-bottom: 5px;
        font-size: 20px;
        font-weight: 700;
        color: #01132d;
        line-height: 35px;
    }

    .priv-pol hr {
        background-color: #D6D6D6;
        border: none;
        height: 1px;
    }

    .priv-pol .pp-desc {
        margin-top: 20px;
    }

    .priv-pol h2 {
        font-size: 18px;
        color: #01132d;
        line-height: 30px;
        margin-top: 25px;
    }

    .priv-pol ul li {
        color: #01132d;
        margin-bottom: 0px;
        line-height: 24.5px;
        font-size: 14px;
        list-style-type: circle;
    }

    .priv-pol .nb {
        text-align: center;
        border-top: 1px solid #D6D6D6;
        color: #01132d;
        margin-top: 48px;
    }

    .priv-pol .nb a {
        line-height: 25px;
    }

    .priv-pol .nb h3 {
        font-size: 18px;
        margin-top: 20px;
        line-height: 30px;
    }

    .priv-pol .nb p {
        margin-bottom: 0px;
    }
